.container{
    position: relative;
    top:10vh;
    width: 60vw;
    margin: auto;
    z-index: 3;
    border: 8px solid royalblue;
    outline: 1px solid #f4f4f4;
    border-radius: 5px;
}
@media(max-width:768px){
    .container{
        width: 90vw;
    }
}