.content{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.div1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.div1 button{
    border-radius: 20px;
    border: 1px solid black;
}
.context{
    flex-grow:2;
}
.flex1{
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* flex-basis: content; */
}
.flex1 button{
    margin: 5px 10px;
    padding: 2px 16px;
}
.flex2{
    display: flex;
    flex-direction: column;
}
.flex2 button{
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.btn1{
    background-color: royalblue;
    color: #f4f4f4;
}
.div2 h2{
    margin-top: 8px;
}
.div2 p{
    text-align:justify;
}
.icon a{
    color: black;
    padding-right: 4px ;
}
.icon button{
    border-radius: 20px;
    margin: 5px;
    padding: 2px 10px;
    background-color: lightgray;
    border: none;
}
.div4{
    display: flex;
    flex-direction: row;
}
.div4 div{
    flex: 1;
}
.div4 h4{
    margin-top: 20px;
    text-align: left;
}
.div4 span{
    margin: 20px 0px;
    margin-bottom: 20px;
    color: royalblue;
}
.image{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
.div5 form{
    margin-top: 20px;
    border: 1px solid royalblue;
    border-radius:5px;
    padding:20px 20px;
}
.div51{
    display: flex;
    flex-direction: row;
}
.div51 input{
    width: 80%;
    
}

.div51 button{
    width: 20%;
    margin-left: 10px;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    border: 1px solid gray;
}
@media(max-width:768px){
    .flex1{
        flex-direction: column;
    }
    .flex1 button{
       width: 40%;
       margin: 5px 10px;
      padding: 4px 6px;
      font-size: x-small;
    }
    .div4{
        display: flex;
        flex-direction: column;
    }
    .div4 span{
       display: none;
    }
    .div4 div{
        margin:5px
    }
    .div51 input{
        width: 60%;
    }
    .div51 button{
        width: 40%;
    }
}