.hero{
    height: 60vh;
    width: 100vw;
    background-color:royalblue;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f4f4f4;
    text-align: justify;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    
}
.heading h2{
    text-align: justify;
    margin: auto;
}
h1{
    text-align: justify;
    margin: auto;
}