.hero{
    height: 60vh;
    width: 100vw;
    background-color:royalblue;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f4f4f4;
    margin-top: 40px;
    text-align: justify;
}